.decoration{
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3,20px);
        grid-template-rows: repeat(4,20px);
     
       
      
    }

    &__item{

        width: 1rem;
        height: 1rem;
        background-color:lighten(#93C1F9,10%);
        border-radius: 50%;
    }

}