@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-size: 1.8rem;
    line-height: 1.5;
    color: $color-gray;
    font-family: 'Mulish', sans-serif;
}

.heading-primary{
    font-size: 3.5rem;
    color: $color-black;
}